<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Belajar Vue.JS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="app">
        <ul>
            <daftar
                v-for="item in daftarSiswa"
                v-bind:todo="item"
                v-bind:key="item.id">
            </daftar>
        </ul>
    </div>
    <div id="blog-posts-events-demo">
        <div :style="{ fontSize: postFontSize + 'em' }">
            <blog-post 
            v-for="post in posts" 
            v-bind:key="post.id" 
            v-bind:post="post"
            v-on:enlarge-text="postFontSize += 0.1">
            </blog-post>
        </div>
    </div>
    <script src="vue.js"></script>
    <script src="app.js"></script>
</body>
</html>